.app{
  width: 60%;
  margin: auto;
 /* background-image: url("C:\Users\DELL\Desktop\Go My Code\myfirstapp\bienvenue.jpg");*/
 background-color: #FAEBD7;
 
}
.text{
  color: #D3D3D3	;
}
.imag{

 /*background-image: url("C:\Users\DELL\Desktop\Go My Code\myfirstapp\bienvenue.jpg");*/
 height: 500px;
 width: 500px;

}